<main>
  <section class="py-3 text-center container-fluid">
    <div class="row py-lg-3">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">Films</h1>
        <p class="lead text-body-secondary">Benvenuto nella sezione dedicata ai film, dove il mondo
          del cinema si apre a una varietà infinita di esperienze. Esplora i confini dell'immaginazione attraverso i
          nostri numerosi film, ognuno con il potere di trasportarti in mondi fantastici, emozionanti o avvincenti.
          Che tu sia un appassionato di azione e avventura, un amante del brivido dell'horror, o un romantico incallito
          alla ricerca di storie commoventi, qui troverai ciò che fa battere il tuo cuore più forte. Scopri i film che
          catturano la tua immaginazione e preparati a un viaggio emozionante nel mondo del cinema.</p>
        <h5 class="mb-0">Ti interessa vedere l'elenco dei film? Clicca <a class="welcome-link" routerLink="/ListaFilm">qui</a></h5>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- Primo Riquadro -->
        <div class="col" *ngIf="isAdmin()">
          <div class="card shadow-sm">
            <a href="/filmcrea">
              <img src="./assets/images/gif/filmcrea.gif" class="bd-placeholder-img card-img-top" width="100%"
                height="225" alt="Placeholder: Thumbnail">
            </a>
            <div class="card-body">
              <p class="card-text">Clicca nell'immagine per creare un film</p>
            </div>
          </div>
        </div>
        <!-- Secondo Riquadro -->
        <div class="col">
          <div class="card shadow-sm">
            <a href="/search">
              <img src="./assets/images/gif/search.gif" class="bd-placeholder-img card-img-top" width="100%"
                height="225" alt="Placeholder: Thumbnail">
            </a>
            <div class="card-body">
              <p class="card-text">Clicca nell'immagine per cercare un film</p>
            </div>
          </div>
        </div>
        <!-- Ottavo Riquadro -->
        <div class="col" *ngIf="isAdmin()">
          <div class="card shadow-sm">
            <a href="/filmmodifica">
              <img src="./assets/images/gif/filmmodifica.gif" class="bd-placeholder-img card-img-top" width="100%"
                height="225" alt="Placeholder: Thumbnail">
            </a>
            <div class="card-body">
              <p class="card-text">Clicca nell'immagine per modificare un film </p>
            </div>
          </div>
        </div>
        <!-- Nono Riquadro -->
        <div class="col" *ngIf="isAdmin()">
          <div class="card shadow-sm">
            <a href="/filmaggiungiattore">
              <img src="./assets/images/gif/filmaggiungiattore.gif" class="bd-placeholder-img card-img-top" width="100%"
                height="225" alt="Placeholder: Thumbnail">
            </a>
            <div class="card-body">
              <p class="card-text">Clicca nell'immagine per aggiungere o rimuovere un attore ad un film</p>
            </div>
          </div>
        </div>
        <!-- Decimo Riquadro -->
        <div class="col" *ngIf="isAdmin()">
          <div class="card shadow-sm">
            <a href="/filmaggiungigenere">
              <img src="./assets/images/gif/filmaggiungigenere.gif" class="bd-placeholder-img card-img-top" width="100%"
                height="225" alt="Placeholder: Thumbnail">
            </a>
            <div class="card-body">
              <p class="card-text">Clicca nell'immagine per modificare un genere ad un film</p>
            </div>
          </div>
        </div>
        <!-- Undicesimo Riquadro -->
        <div class="col" *ngIf="isAdmin()">
          <div class="card shadow-sm">
            <a href="/filmdelete">
              <img src="./assets/images/gif/filmdelete.gif" class="bd-placeholder-img card-img-top" width="100%"
                height="225" alt="Placeholder: Thumbnail">
            </a>
            <div class="card-body">
              <p class="card-text">Clicca nell'immagine per cancellare un film</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
