.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/filmsfondo.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

.container {
  position: relative; 
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}

.list-group {
  margin-top: 20px;
}

.list-group-item {
  border-color: #dee2e6; 
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #fff; 
}

.result-container {
  display: flex;
  justify-content: flex-end;
}

.result-box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 80%; 
}
