<footer class="footer">
  <div class="container-fluid d-flex flex-column align-items-center">
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="footer-links">
      <a routerLink="/privacy">Informativa sulla privacy</a>
      <a routerLink="/terms">Termini di servizio</a>
      <a routerLink="/contact">Contattaci</a>
    </div>
    <p>ALPHA Videoteca - Copyright &copy; {{ currentYear }}. Tutti i diritti riservati</p>
  </div>
</footer>
