<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <div class="social-container">
        <a href="#" class="social">
          <img src="/assets/images/face.jpg" alt="User Image" class="bi text-body-secondary flex-shrink-0" width="40"
            height="40">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social">
          <img src="/assets/images/google.jpg" alt="User Image google" class="bi text-body-secondary flex-shrink-0"
            width="40" height="40">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <a href="#" class="social">
          <img src="/assets/images/linkedin.jpg" alt="User Image google" class="bi text-body-secondary flex-shrink-0"
            width="40" height="40">
          <i class="fab fa-google-linkedin-g"></i>
        </a>
      </div>
      <span>o usa il tuo account</span>
      <form (ngSubmit)="gestAuth()">
        <div>
          <label for="userId">User ID:</label>
          <input type="text" id="userId" [(ngModel)]="userId" name="userId" required>

          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>

          <button type="submit">Connetti</button>
        </div>
      </form>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <p></p>
      <h3>Sign in</h3>
      <div class="social-container">
        <a href="#" class="social">
          <img src="/assets/images/face.jpg" alt="User Image" class="bi text-body-secondary flex-shrink-0" width="48"
            height="48">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social">
          <img src="/assets/images/google.jpg" alt="User Image google" class="bi text-body-secondary flex-shrink-0"
            width="40" height="40">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <a href="#" class="social">
          <img src="/assets/images/linkedin.jpg" alt="User Image google" class="bi text-body-secondary flex-shrink-0"
            width="40" height="40">
          <i class="fab fa-google-linkedin-g"></i>
        </a>
      </div>
      <span>o usa il tuo account</span>
      <form (ngSubmit)="gestAuth()">
        <div>
          <label for="userId">User ID:</label>
          <input type="text" id="userId" [(ngModel)]="userId" name="userId" required>

          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>

          <button type="submit">Connetti</button>
        </div>
      </form>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Inserisci i tuoi dati personali e inizia il viaggio con noi</p>
        <button class="ghost" id="signUp" [routerLink]="['/registrazione']">Registrati</button>
      </div>
    </div>
  </div>
</div>
