<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ALPHA Videoteca</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prefilm">Film</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Pregeneri">Generi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/preinterprete">Interpreti</a>
        </li>
        <li *ngIf="isAdmin()" class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>

      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle thumbnail dduser" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="/assets/images/user.jpg" alt="IMG" class="img-circle" width="50" height="50">
        </button>
        <!-- navigation-bar.component.html -->
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/login">Accedi</a></li>
          <li><a class="dropdown-item" href="/registrazione">Registrati</a></li>
          <li *ngIf="isLogged()"><a class="dropdown-item" href="/modificapersonale">Modifica Personale</a></li>
          <li *ngIf="isAdmin()"><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li *ngIf="BasicAuth.isLogged()">
            <a class="dropdown-item" [routerLink]="['/logout']" (click)="logout()">Logout {{ BasicAuth.loggedUser() }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
