
.navbar-custom {
  background: linear-gradient(to left, #252525, #747474, #252525);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #fff;
}

.navbar-custom .dropdown-menu .dropdown-item {
  color: #ffffff; 
}

.navbar-custom .dropdown-menu {
  background-color: #252525;
}
.dropdown-toggle {
  padding: 10px; 
  width: auto; 
  z-index: 9999; 
}