/* error.component.css */

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altezza a schermo intero */
  background-color: #f8f8f8; /* Colore di sfondo */
}

.error-container img {
  width: 1400px; /* Imposta la larghezza dell'immagine come desiderato */
  height: auto; /* Mantieni l'aspetto proporzionale */
  margin-bottom: 20px; /* Aggiunge un margine inferiore per separare l'immagine dal testo */
}
