<div class="welcome-component"></div>
<div class="d-flex justify-content-around mt-5">
  <div class="card welcome-card" (click)="navigateToPreFilm()"(mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">
    <img src="/assets/images/filmicon.jpg" alt="Film Icon" class="card-img-top card-gif" paused>
    <div class="card-body">
      <h5 class="card-title">Film</h5>
    </div>
  </div>

  <div class="card welcome-card" (click)="navigateToPreGeneri()" (mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">
    <img src="/assets/images/genereicon.jpg" alt="Generi Icon" class="card-img-top" paused>
    <div class="card-body">
      <h5 class="card-title">Generi</h5>
    </div>
  </div>

  <div class="card welcome-card" (click)="navigateToPreInterprete()" (mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">
    <img src="/assets/images/attoreicon.jpg" alt="Interpreti Icon" class="card-img-top" paused>
    <div class="card-body">
      <h5 class="card-title">Interpreti</h5>
    </div>
  </div>
</div>