<div class="welcome-component"></div>
<div class="container mt-5">
  <div class="title">Benvenuto nel Mondo del Cinema</div>
  <div class="subtitle">Scopri, esplora e lasciati ispirare</div>
  <div class="row text-center">
    <div class="col-md-4 mb-4" *ngFor="let card of cards" [hidden]="card.adminOnly && !isAdmin()">
      <div class="card welcome-card" (click)="card.navigate()" (mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">
        <img [src]="card.imgSrc" [attr.data-src]="card.imgSrc" [attr.data-hover-src]="card.imgHoverSrc" alt="{{card.title}} Icon" class="card-img-top card-gif">
        <div class="card-body">
          <h5 class="card-title">{{card.title}}</h5>
          <p class="card-text">{{card.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
