<body>
    <div class="terms-of-service">
        <h1><i class="fas fa-file-contract"></i> Termini di servizio</h1>
        <p>
            Benvenuti nei nostri termini di servizio. Utilizzando i nostri servizi, accetti questi termini. Ti invitiamo
            a leggerli attentamente.
        </p>
        <h2><i class="fas fa-clipboard-list"></i> Condizioni generali</h2>
        <p>
            L'uso del servizio è subordinato all'accettazione e al rispetto di questi Termini.
        </p>
        <h2><i class="fas fa-user-check"></i> Responsabilità degli utenti</h2>
        <p>
            Gli utenti sono responsabili del mantenimento della riservatezza del proprio account e della propria
            password.
        </p>
        <h2><i class="fas fa-ban"></i> Uso vietato</h2>
        <p>
            Gli utenti non devono utilizzare il servizio per scopi illegali o non autorizzati.
        </p>
        <h2><i class="fas fa-gavel"></i> Legge applicabile</h2>
        <p>
            Questi termini sono regolati e interpretati in conformità con le leggi del paese.
        </p>
    </div>
</body>